
<div class="container rounded bg-white shadow-sm mb-5">
    <div class="row">
        <div class="col-md-3 rounded-left p-0 overflow-hidden" style="background:ghostwhite;">
                <p class="fs-1 text-center bg-charcoal text-freesia py-3">Panel de Administracion</p>
                <div class="nav flex-column nav-pills mx-3 mb-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link fs-s-2 <% if (pagina == 2) { %> active <% } %>" href="/informes" >Informes</a>
                    <a class="nav-link fs-s-2 <% if (pagina == 3) { %> active <% } %>" href="/clientes" >Clientes</a>
                    <a class="nav-link fs-s-2 <% if (pagina == 4) { %> active <% } %>" href="/servicios" >Servicios</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link fs-s-2 <% if (pagina == 5) { %> active <% } %>" href="/solicitudes" >Solicitudes de Registro</a>                
                </div>
        </div>
        <div class="col-md-9 mb-4 px-4">
            <p class="h4 text-center text-uppercase title-weight2 mt-4">Informes</p>
            <p class="h5 title-weight1 mt-4">Usuarios de la plataforma</p>
            <div class="row">                
                <div class="col">
                  <div class="info-box">
                        <span class="info-box-icon bg-white"><img src="img/reguser.png"></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Contadores</span>
                            <span class="info-box-number">35</span>
                        </div><!-- /.info-box-content -->
                  </div><!-- /.info-box -->
                </div><!-- /.col -->
                <div class="col">
                    <div class="info-box">
                        <span class="info-box-icon bg-white"><img src="img/reguser.png"></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Clientes</span>
                            <span class="info-box-number">41</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row">
            <div class="col">
                <div class="info-box">
                        <span class="info-box-icon bg-white"><img src="img/reguser.png"></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Empresas</span>
                            <span class="info-box-number">13</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                    </div><!-- /.col -->
                    <div class="col">
                        <div class="info-box">
                                <span class="info-box-icon bg-white"><img src="img/veruser.png"></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Registros pendientes</span>
                                <span class="info-box-number">9</span>
                            </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                    </div><!-- /.col -->
            </div><!-- /.row -->
            <p class="h5 title-weight1 mt-4">Estadísticas</p>
            <div class="row">
                <div class="col">   
                    Usuarios Registrados
                    <canvas id="grafLinealU" height="100" width="150"></canvas><br>   
                </div>
                <div class="col">
                    Servicios Contratados
                    <canvas id="grafLinealS" height="100" width="150"></canvas><br>   
                </div>  
            </div>
            <div class="row">
                <div class="col">
                    Total de ingresos por servicios ($)
                    <canvas id="grafBarra" height="100" width="150"></canvas><br>
                </div>
                <div class="col">
                    Servicios contratados - Detalle
                    <canvas id="grafCircular" height="100" width="150"></canvas><br>
                </div>  
            </div>             
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script src="js/informes.js"></script>