
<div class="container rounded bg-white shadow-sm">
        <div class="row">
            <div class="col-md-3 rounded-left p-0 overflow-hidden" style="background:ghostwhite;">
                    <p class="fs-1 text-center bg-charcoal text-freesia py-3">Panel de Administracion</p>
                    <div class="nav flex-column nav-pills mx-3 mb-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link fs-s-2 <% if (pagina == 2) { %> active <% } %>" href="/informes" >Informes</a>
                        <a class="nav-link fs-s-2 <% if (pagina == 3) { %> active <% } %>" href="/clientes" >Clientes</a>
                        <a class="nav-link fs-s-2 <% if (pagina == 4) { %> active <% } %>" href="/servicios" >Servicios</a>
                        <div class="dropdown-divider"></div>
                        <a class="nav-link fs-s-2 <% if (pagina == 5) { %> active <% } %>" href="/solicitudes" >Solicitudes de Registro</a>
                    
                    </div>
            </div>
            <div class="col-md-9 px-4 mb-4">
                <p class="h4 text-center text-uppercase title-weight2 mt-4">Solicitudes de Registro</p>
                <div class="mt-4">
                    <ul class="nav nav-tabs">
                            
                            <li class="nav-item">
                                    <a class="nav-link fs-s-1 active" data-toggle="tab" href="#" onclick="ToggleViewUser(2); return false;">Contador</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link fs-s-1" data-toggle="tab" href="#" onclick="ToggleViewUser(3); return false;">Empresa</a>
                            </li>
                      </ul>
                </div>

                <div id="vcliente" class="mt-4"></div>
                
                <!-- Vista de Contadores-->
                <div id="vcontador" class="mt-4">
                        <form class="mt-4 form-row" action="">
                            <div class="col">
                                    <input type="text" id="nombre" class="form-control" placeholder="Ingrese el nombre del contador">
                            </div>
                            <div class="col">
                                    <button class="btn3" type="submit">Buscar</button>
                            </div>
                               
                        </form>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="d-flex flex-column border border-light rounded mt-4 " style="height: 20em; overflow-y: auto;">
                                    <div class="list-group list-group-flush" id="myList" role="tablist">
                                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-light" data-toggle="list" onclick="Click(); return false;" href="#" role="tab">
                                                <h5 class="mb-0 fs-s-2">Contador 1</h5></a>
                                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-light" data-toggle="list" onclick="Click(); return false;" href="#" role="tab">
                                                    <h5 class="mb-0 fs-s-2">Contador 2</h5></a>
                                            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-light" data-toggle="list" onclick="Click(); return false;" href="#" role="tab">
                                                    <h5 class="mb-0 fs-s-2">Contador 3</h5></a>
                                    </div>
                                </div>
                            </div>
                            <div id="detalles" class="col-md-6 col-sm-12 ">
                                    <div class="row border border-light rounded mt-4 mx-1 py-3">
                                            <div class="col-md-auto font-weight-normal">Nombre:</div>
                                            <div class="col">Maria Cristina</div>
    
                                            <div class="w-100"></div>
                                            <div class="col-md-auto font-weight-normal">Apellido:</div>
                                            <div class="col-md-auto">Torres</div>
        
                                            <div class="w-100"></div>
                                            <div class="col-md-auto font-weight-normal">Cédula:</div>
                                            <div class="col">0-453-2120</div>
    
                                            <div class="w-100"></div>
                                            <div class="col-md-auto font-weight-normal">Teléfono:</div>
                                            <div class="col-md-auto">6543-8900</div>
        
                                            <div class="w-100"></div>
                                            <div class="col-md-auto font-weight-normal">Email:</div>
                                            <div class="col">m_cristina@gmail.com</div>
    
                                            <div class="w-100"></div>
                                            <div class="col-md-auto font-weight-normal">Licencia de Idoneidad:</div>
                                            <div class="col-md-auto">45-3423-4234</div>
    
                                            <div class="w-100"></div>
                                            <div class="col-md-auto font-weight-normal">Especialidades:</div>
                                            <div class="col-md-auto">Planilla,etc,etc...</div>
    
                                            <div class="w-100"></div>
                                            <div class="col-md-auto font-weight-normal">Hoja de vida:</div>
                                            <div class="col-md-auto">...</div>
                                            
                                            <div class="w-100"></div>
                                            <div class="col-md-auto font-weight-normal">Contraseña:</div>
                                            <div class="col">*****</div>
                                            
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col text-center">
                                                <button type="button" data-toggle="modal" data-target="#Modalbloq" class="btn btn-light shadow-sm btn-sm">aceptar</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
        
                    </div>
    
                    <!-- Vista de Empresas-->
                    <div id="vempresa" class="d-none">
                            <form class="mt-4 form-row" action="">
                                <div class="col">
                                        <input type="text" id="nombre" class="form-control" placeholder="Ingrese el nombre de la empresa">
                                </div>
                                <div class="col">
                                        <button class="btn3" type="submit">Buscar</button>
                                </div>
                                   
                            </form>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="d-flex flex-column border border-light rounded mt-4 " style="height: 20em; overflow-y: auto;">
                                        <div class="list-group list-group-flush" id="myList" role="tablist">
                                                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-light" data-toggle="list" onclick="Click(); return false;" href="#" role="tab">
                                                    <h5 class="mb-0 fs-s-2">Empresa 1</h5></a>
                                                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-light" data-toggle="list" onclick="Click(); return false;" href="#" role="tab">
                                                        <h5 class="mb-0 fs-s-2">Empresa 2</h5></a>
                                                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-light" data-toggle="list" onclick="Click(); return false;" href="#" role="tab">
                                                        <h5 class="mb-0 fs-s-2">Empresa 3</h5></a>
                                        </div>
                                    </div>
                                </div>
                                <div id="detalles" class="col-md-6 col-sm-12">
                                        <div class="row border border-light rounded mt-4 mx-1 py-3">
                                                <div class="col-md-auto font-weight-normal">Empresa:</div>
                                                <div class="col">uShop</div>
                                                <div class="w-100"></div>
                                                <div class="col-md-auto font-weight-normal">No. RUC:</div>
                                                <div class="col-md-auto">09-3424232-2312</div>
            
                                                <div class="w-100"></div>
                                                <div class="col-md-auto font-weight-normal">Nombre solicitante:</div>
                                                <div class="col">Veronica Miranda</div>
                                                <div class="w-100"></div>
                                                <div class="col-md-auto font-weight-normal">Cédula solicitante:</div>
                                                <div class="col-md-auto">2-890-6230</div>
            
                                                <div class="w-100"></div>
                                                <div class="col-md-auto font-weight-normal">Teléfono solicitante:</div>
                                                <div class="col">6743-7894</div>
    
                                                <div class="w-100"></div>
                                                <div class="col-md-auto font-weight-normal">Email:</div>
                                                <div class="col">m_cristina@gmail.com</div>
                                                
                                                <div class="w-100"></div>
                                                <div class="col-md-auto font-weight-normal">Contraseña:</div>
                                                <div class="col">*****</div>
                                                
                                        </div>
                                        <div class="row mt-5">
                                            <div class="col text-center">
                                                    <button type="button" data-toggle="modal" data-target="#Modalbloq" class="btn btn-light shadow-sm btn-sm">aceptar</button>
                                            </div>
                                        </div>
                                </div>
                            </div>
            
                        </div>
            </div>
        </div>
    </div>
    
                <!-- Modal bloqueo -->
                <div class="modal fade" id="Modalbloq" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title fs-1 text-capitalize" id="exampleModalLongTitle">Solicitudes de registro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <label class="">Registro aprobado</label>
                        </div>
                    </div>
                    </div>
                </div>
