<div class="bg-charcoal2 vh-100">

    <div class="h-100 d-flex">
    <div class="fondo-contenedor align-self-center p-4 mx-auto" style="height: auto; width: 25%;">
            <p class="h4 text-center text-uppercase title-weight2 mb-3">Inicio de Sesión</p>
            <!-- Inicio de Sesión -->
            <form >
                <!-- Email -->
                <label class="h6 fs-s-1 text-capitalize">Email</label>
                <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="">

                <!-- Contraseña -->
                <label class="h6 fs-s-1 text-capitalize">Contraseña</label>
                <input type="password" id="passwd" class="form-control mb-4" placeholder="">

                <!-- Botón de entrar -->
                <div class="text-center">
                    <button class="btn3 mt-4" type="submit ">Entrar</button>
                </div>
            </form>
    </div>
    </div>
</div>

<script>
$(document).ready(()=>{
            console.log("Hola front end!!!!!");
            $("form").submit(function(e){
                 e.preventDefault();
                var email = $("#defaultLoginFormEmail").val();
                var contra = $("#passwd").val();
                $.ajax({
                    url: "/iniciaradmin",
                    data: {
                            email : email,
                            contra : contra},
                    method: "POST",
                    dataType: 'json',
                    contentType : "application/x-www-form-urlencoded",
                    success : function(res){
                        //window.alert(res.nombre);
                        console.log("Entro aquí");
                        window.location.replace("/informes");
                    },
                    error : function(err){
                        alert("Email o contraseña incorrectos, vuelva a intentarlo.");
                    }
                });
            });
        });

</script>
