<div class="container rounded bg-white shadow-sm">
        <div class="row">
            <div class="col-md-3 rounded-left p-0 overflow-hidden" style="background:ghostwhite;">
                    <p class="fs-1 text-center bg-charcoal text-freesia py-3">Panel de Administracion</p>
                    <div class="nav flex-column nav-pills mx-3 mb-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link fs-s-2 <% if (pagina == 2) { %> active <% } %>" href="/informes" >Informes</a>
                            <a class="nav-link fs-s-2 <% if (pagina == 3) { %> active <% } %>" href="/clientes" >Clientes</a>
                            <a class="nav-link fs-s-2 <% if (pagina == 4) { %> active <% } %>" href="/servicios" >Servicios</a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link fs-s-2 <% if (pagina == 5) { %> active <% } %>" href="/solicitudes" >Solicitudes de Registro</a>
                        
                        </div>
            </div>
            <div class="col-md-9 mb-4 px-4">
            <p class="h4 text-center text-uppercase title-weight2 mt-4">Servicios</p>

            <!-- Vista de Servicios-->
            <div id="" class="mt-4">
                <p class="fs-1">Servicios disponibles</p>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="d-flex flex-column border border-light rounded" style="height: 20em; overflow-y: auto;">
                                <div class="list-group list-group-flush" id="myList" role="tablist">
                                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-light" data-toggle="list" onclick="DetVista(1); return false;" href="#" role="tab">
                                            <h5 class="mb-0 fs-s-2">Servicio 1</h5></a>
                                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-light" data-toggle="list" onclick="DetVista(1); return false;" href="#" role="tab">
                                                <h5 class="mb-0 fs-s-2">Servicio 2</h5></a>
                                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-light" data-toggle="list" onclick="DetVista(1); return false;" href="#" role="tab">
                                                <h5 class="mb-0 fs-s-2">Servicio 3</h5></a>
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                    <a class="btn3 text-white w-100" href="#" onclick="DetVista(2); return false;">Nuevo servicio</a>
                            </div>
                            
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div id="detserv" class="d-none">
                                <div class="row mx-1">
                                    <div class="border border-light rounded py-3 px-2 w-100">
                                        <div class="col-md-auto h6 fs-s-1 text-capitalize">Nombre</div>
                                        <div id="serv" class="col-auto fs-2 mb-2">Planilla</div>

                                        <div class="w-100"></div>
                                        <div class="col-md-auto h6 fs-s-1 text-capitalize">Precio</div>
                                        <div id="pre" class="col-auto fs-2 mb-2">B/. 100.00</div>
    
                                        <div class="w-100"></div>
                                        <div class="col-md-auto h6 fs-s-1 text-capitalize">Documentos requeridos</div>
                                        <div id="doc" class="col-auto fs-2 mb-2">...</div>

                                        <div class="w-100"></div>
                                        <div class="col-md-auto h6 fs-s-1 text-capitalize">Descripción</div>
                                        <div id="desc" class="col-auto fs-2 mb-2">lalalallaa...</div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col text-center">
                                            <button id="btnedit" type="button" onclick="ActualizarServ(1)" class="btn btn-light shadow-sm btn-sm">Editar</button>
                                    </div>
                                    <div class="col text-center">
                                            <button id="btnupd" type="button" onclick="ActualizarServ(0)" data-toggle="modal" data-target="#Modalupd" class="d-none btn3">Actualizar</button>
                                    </div>
                                    <div class="col text-center">
                                            <button id="btndelt"type="button" data-toggle="modal" data-target="#Modaldel" class="btn btn-light shadow-sm btn-sm">Eliminar</button>
                                    </div>
                                </div>
                            </div>

                            <form id="addserv" action="#" onsubmit="return false;" class="d-none mx-3">
                                    <div class="form-row">
                                            <div class="col">
                                                <!-- Nombre servicio -->
                                                <label class="h6 fs-s-1 text-capitalize">Nombre Servicio</label>
                                                <input type="text" id="defaultContactFormName" class="form-control mb-2" placeholder="">
                                            </div>
                                            <div class="col">
                                                <!-- Precio -->
                                                <label class="h6 fs-s-1 text-capitalize">Precio</label>
                                                <input type="number" id="defaultContactFormEmail" class="form-control mb-2" placeholder="">
                                            </div>
                                        </div>
                                    
            
                                    <!-- documentos -->
                                    <label class="h6 fs-s-1 text-capitalize">Documentos requeridos</label>
                                    <select multiple class="browser-default custom-select mb-2">
                                        <option value="1">Feedback</option>
                                        <option value="2">Report a bug</option>
                                        <option value="3">Feature request</option>
                                    </select>
            
                                    <!-- descripcion -->
                                    <label class="h6 fs-s-1 text-capitalize">Descripción</label>
                                    <div class="form-group">
                                        <textarea class="form-control rounded" id="exampleFormControlTextarea2" rows="3" placeholder=""></textarea>
                                    </div>
            
                                    <!-- Send button -->
                                    <div class="w-100 text-center mt-4">
                                    <button class="btn3 " type="submit" data-toggle="modal" data-target="#Modaladd" onclick="DetVista(3); return false;">añadir</button>
                                    </div>
                                </form>

                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>

       <!-- Modal actualizacion -->
        <div class="modal fade" id="Modalupd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title fs-1 text-capitalize" id="exampleModalLongTitle">Administración</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <p>Servicio actualizado.</p>
                </div>
                </div>
                </div>
            </div>

           <!-- Modal añadir -->
            <div class="modal fade" id="Modaladd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title fs-1 text-capitalize" id="exampleModalLongTitle">Administración</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <p>Servicio añadido.</p>
                    </div>
                    </div>
                    </div>
                </div>

            <!-- Modal eliminación -->
            <div class="modal fade" id="Modaldel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title fs-1 text-capitalize" id="exampleModalLongTitle">Eliminar usuario</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" onclick="alert('usuario eliminado')" data-dismiss="modal" class="btn3 btn-light shadow-sm" id="modal-btn-si">Sí</button>
                            <button type="button" class="btn3 text-white" data-dismiss="modal" id="modal-btn-no">No</button>
                    </div>
                    </div>
                    </div>
            </div>