
    <div class="d-md-none" style="height: 6em;"></div>
    <!--CONTENT-->
    <div class="container">
        
      <div class="row">
          <div class="col-md-1 col-xs-0"></div>
          <div class="d-md-none m-4"></div>
          <div class="col-md-10 col-xs-12 fondo-contenedor shadow-sm" style="height: auto;">

            <div class="row h-100" style="padding: 0.08em;">
                <div class="col-md-7">
                    <!-- Default form contact -->
                    <form action="#" onsubmit="return false;" class="m-5">

                        <p class="h4 text-center text-uppercase title-weight2">Contáctenos</p>
                        <p class="text-center fs-s-1 mb-4">¿Consultas? ¡El equipo de eCont está aquí para ayudarle!</p>

                        <!-- Nombre -->
                        <label class="h6 fs-s-1 text-capitalize">Nombre Completo</label>
                        <input type="text" id="defaultContactFormName" class="form-control mb-2" placeholder="">

                        <!-- Email -->
                        <label class="h6 fs-s-1 text-capitalize">Email</label>
                        <input type="email" id="defaultContactFormEmail" class="form-control mb-2" placeholder="">

                        <!-- Subject -->
                        <label class="h6 fs-s-1 text-capitalize">Asunto</label>
                        <select class="browser-default custom-select mb-2">
                            <option value="" disabled selected></option>
                            <option value="1">Feedback</option>
                            <option value="2">Report a bug</option>
                            <option value="3">Feature request</option>
                        </select>

                        <!-- Mensaje -->
                        <label class="h6 fs-s-1 text-capitalize">Mensaje</label>
                        <div class="form-group">
                            <textarea class="form-control rounded" id="exampleFormControlTextarea2" rows="3" placeholder=""></textarea>
                        </div>

                        <!-- Send button -->
                        <div class="w-100 text-center">
                        <button class="btn3 mt-4" type="submit" data-toggle="modal" data-target="#Modalconf">Enviar</button>
                        </div>
                    </form>
                    <!-- Default form contact -->
                      
                </div>
                <div class="col-md-5 px-0 h-100 overflow-hidden d-none d-md-block" style="border-top-right-radius: 3px; border-bottom-right-radius: 3px;">
                    <img class="position-absolute h-100" src="img/contact.jpg" />
                    <div class="text-up w-100 h-100 p-5 bg-translucent-charcoal">
                        <div class="h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12 text-center">
                                <div class="">
                                        <div class="row">
                                                <div class="col"><p class="fs-3">Republica de Panamá</p></div>
                                                <div class="w-100"></div>
                                                <div class="col"><p class="fs-s-1">Ciudad de Panamá</p></div>
                                                <div class="w-100 mb-3"></div>
                                                <div class="col-auto ml-5 p-1"><img src="img/phone.png" height="25" alt=""></div>
                                                <div class="col text-left mr-5 p-0 align-bottom"><p class="fs-s-1">+507 222-2222</p></div>
                                                <div class="w-100"></div>
                                                <div class="col-auto ml-5 p-1"><img src="img/email.png" height="25" alt=""></div>
                                                <div class="col text-left mr-5 p-0"><p class="fs-s-1">contacto@econt.com</p></div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>

            </div>
            <!--FIN DE SECCION CONTACTO-->

          </div>
          <div class="col-md-1 col-xs-0"></div>
      </div>

      <!-- Modal confirmación -->
        <div class="modal fade" id="Modalconf" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title fs-1 text-capitalize" id="exampleModalLongTitle">Mensaje Enviado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <p class="">Nos pondremos en contacto con usted lo mas pronto posible.</p>
                </div>
            </div>
            </div>
        </div>
