
    <div class="d-md-none" style="height: 6em;"></div>
    <!-- CONTENIDO -->
    <div class="container">
      <div class="row ">
          <div class="col-md-1 col-xs-0"></div>
          <div class="col-md-10 col-xs-12 fondo-contenedor shadow-sm" style="height: auto;">

          <div class="row h-100" style="padding: 0.08em;">
            <div class="col-md-4 px-0 h-100 overflow-hidden d-none d-md-block" style="border-top-left-radius: 3px; border-bottom-left-radius: 3px;">
              
                  <img class="position-absolute h-100" src="img/nav3.jpg" />
                  <div class="text-up w-100 h-100 bg-translucent-charcoal">
                      <div class="text-center">
                            <img class="card-img-top mt-4 rounded" style="width: 70%;" src="img/user.png" alt="">
                      </div>
                      
                                <div class="nav flex-column nav-pills mx-3 my-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link fs-s-2 text-white <% if (pagina == 5) { %> active <% } %> " id="" href="notificaciones">Notificaciones</a>
                                    <a class="nav-link fs-s-2 text-white <% if (pagina == 6) { %> active <% } %> " id="" href="pedidos">Mis Pedidos</a>
                                    <a class="nav-link fs-s-2 text-white <% if (pagina == 7) { %> active <% } %>" id=""  href="gestion">Gestión de Documentos</a>
                                </div>
                </div>
            </div>
            <div class="col-md-8" id="vista">
                <div class="mt-5 mb-3 mx-3">
                    <p class="h4 text-center text-uppercase title-weight2">Mi cuenta</p>
                </div>

                <p class="ml-3 fs-1 mb-1"><small>Informacion personal</small></p>
                <div class="border border-light rounded mx-3 pt-2 mb-3">
                <div class="form-row mx-2">
                    <div class="col">
                        <label class="h6 fs-s-1 text-capitalize">Nombre</label>
                        <p id="nom" class="fs-2"><%= nombre %></p>
                    </div>
                    <div class="col">
                        <label class="h6 fs-s-1 text-capitalize">Apellido</label>
                        <p id="ape" class="fs-2"><%= apellido %></p>
                    </div>
                </div>
                <div class="form-row mx-2">
                    <div class="col-md-6">
                            <label class="h6 fs-s-1 text-capitalize">Cédula</label>
                            <p id="ced" class="fs-2"><%= cedula %></p>
                    </div>
                </div>
                </div>

                <p class="ml-3 fs-1 mb-1"><small>Contacto</small></p>
                <div class="border border-light rounded mx-3 pt-2 mb-3">
                <div class="form-row mx-2">
                    <div class="col">
                        <label class="h6 fs-s-1 text-capitalize">Teléfono</label>
                        <p id="tel" class="fs-2"><%= telefono %></p>
                    </div>
                    <div class="col">
                        <label class="h6 fs-s-1 text-capitalize">Email</label>
                        <p id="ema" class="fs-2"><%= email %></p>
                    </div>
                </div>
                </div>

                <p class="ml-3 fs-1 mb-1"><small>Autenticación</small></p>
                <div class="border border-light rounded mx-3 pt-2 mb-3">
                <div class="form-row mx-2">
                    <div class="col">
                        <label class="h6 fs-s-1 text-capitalize">Contraseña</label>
                        <p id="cont" class="fs-2">**********</p>
                    </div>
                    <div id="contra2" class="d-none col">
                        <label class="h6 fs-s-1 text-capitalize">Repita la contraseña</label>
                        <p id="cont2" class="fs-2"></p>
                    </div>
                </div>
                </div>

                <div class="mx-3 pt-5">
                    <div class="form-row mx-2 text-center">
                        <div class="col-md-4 col-sm-12 mb-4">
                            <a id="btndelete" class="btn3 btn-light shadow-sm" data-toggle="modal" data-target="#Modaldel" href="#" onclick="">Eliminar</a>
                        </div>
                        <div class="col-md-4 col-sm-12 mb-4">
                            <a id="btnupdate" class="d-none btn3 text-white" data-toggle="modal" data-target="#Modalupd" href="#" onclick="ActualizarInfo(0); return false;">Actualizar</a>
                        </div>
                        <div class="col-md-4 col-sm-12 mb-4">
                            <a id="btnedit" class="btn3 text-white" href="#" onclick="ActualizarInfo(1); return false;">Editar</a>
                            
                        </div>
                    </div>
                </div>

            </div>
            </div>
          </div>
          <div class="col-md-1 col-xs-0"></div>
    </div>
</div>
 
<!-- Modal confirmación actualizacion -->
<div class="modal fade" id="Modalupd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title fs-1 text-capitalize" id="exampleModalLongTitle">Mi cuenta</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <p class="">Información actualizada.</p>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal confirmación eliminacion -->
    <div class="modal fade" id="Modaldel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title fs-1 text-capitalize" id="exampleModalLongTitle">Eliminar cuenta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" onclick="alert('Cuenta eliminada'); window.location='/'" class="btn3 btn-light shadow-sm" id="modal-btn-si">Sí</button>
                    <button type="button" class="btn3 text-white" data-dismiss="modal" id="modal-btn-no">No</button>
                </div>
            </div>
            </div>
    </div>