
<div class="d-md-none" style="height: 6em;"></div>
<!--CONTENT-->
<div class="container">
  <div class="row">
      <div class="col-md-1 col-xs-0"></div>
      <div class="col-md-10 col-xs-12 fondo-contenedor shadow-sm" style="height: auto; padding: 0.08em;">
        
          <div class="row">
              <div class="col-sm-12 col-md-12 overflow-hidden" style="height: 18em;">
                  <img class="card-img-top" src="<%= image %>" alt="">
              </div>
          </div>

          <div class="row m-4">
            <div class="col-sm-12 col-md-6">
                    <p class="h4 text-capitalize fs-3 mb-3"><%= nombreS %></p>
                    <p class="h4 text-capitalize fs-1" >Documentos requeridos</p>
                    <ul>
                            <% for (var i = 0; i < docs.length; i++) { %>
                                <li><%= docs[i] %></li>
                        <% } %>
                    </ul>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="">
                    <p class="h4 text-capitalize fs-1">Subir archivos</p>
                    <div class="row m-0">
                        <form class="border border-light rounded p-3" onsubmit="return false;">
                        <div class="custom-file mb-2">
                            <input type="file" class="custom-file-input" id="documentos" name="documentos" accept=".zip, .rar">
                            <label class="custom-file-label" for="customFileLang"></label>
                        </div>
                        <p><small class="fs-s-1">Adjuntar los documentos en un archivo .zip o .rar</small></p>
                        <label class="h6 fs-s-1 text-capitalize">Mensaje</label>
                            <div class="form-group text-general">
                                <textarea class="form-control rounded" id="exampleFormControlTextarea2" rows="3"></textarea>
                            </div>
                        <div class="text-center">
                            <!-- Botón de Registro -->
                            <button class="btn3 mt-2" data-toggle="modal" data-target="#Modalconf" type="submit">Subir</button>
                        </div>
                    </form>

                    </div>
                  </div>
            </div>

          </div>

      </div>
      <div class="col-md-1 col-xs-0"></div>
  </div>
</div>

<!-- Modal confirmación -->
<div class="modal fade" id="Modalconf" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title fs-1 text-capitalize" id="exampleModalLongTitle">Pedido completado</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="buttonCerrar">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <p class="">A la espera de la aprobación del contador.</p>
            </div>
        </div>
        </div>
</div>

<script>
    $(document).ready(()=>{
        $("#buttonCerrar").click(function(e){
            window.location.replace("/");
        });
    });
</script>