
<!-- Footer -->
<footer class="font-small bg-charcoal2 pt-5" style="width: 100%;"> 
  <div class="container text-center text-white">
    <hr class="bg-light w-50">
    <div class="row mb-5">
      <div class="col-md-6 text-md-right text-sm-center">
        <button type="button" class="btn bg-transparent font-weight-light text-uppercase text-link fs-s-1 shadow-none p-0" data-toggle="modal" data-target="#Modal1">Política de Privacidad</button>
      </div>
      <div class="col-md-6 text-md-left text-sm-center">
        <button type="button" class="btn bg-transparent font-weight-light text-uppercase text-link fs-s-1 shadow-none p-0" data-toggle="modal" data-target="#Modal2">Términos del Servicio</button>
      </div>
    </div>
    
  </div>
    <div class="footer-copyright text-center text-gray py-3 bg-charcoal" style="letter-spacing: 0.1em;">eCont © 2019 Copyright.</div>
</footer>
<!-- Footer -->

<!-- Modal politica de privacidad -->
<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-1 text-capitalize" id="exampleModalLongTitle">Política de Privacidad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-justify ">eCont Panamá tiene como compromiso proteger la información de nuestros clientes y manejar los datos de
          forma confidencial y apropiada. Utilizamos procedimientos físicos, electrónicos y administrativos para salvaguardar la seguridad e integridad
          de la información personal. Nuestros colaboradores, con acceso a la información personal o empresarial de
          nuestros clientes, obtenida en nuestro sitio Web, están obligados a adherirse a nuestra política como parte
          de su Acuerdo de Confidencialidad de la Información.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn3 text-white mt-4" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal Terminos del servicio -->
<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-1 text-capitalize" id="exampleModalLongTitle">Términos del Servicio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-justify">
          Los Términos de Servicio constituyen un contrato entre eCont y usted. Los Términos incluyen las 
          disposiciones establecidas en este documento y en la Política de Privacidad, Términos Comerciales, 
          Guías de Usuario, Programa de Cumplimiento de Propiedad Intelectual y 
          otros términos o condiciones de eCont que le podemos presentar y usted aceptar ocasionalmente en 
          relación a las ofertas específicas del Servicio (a las que nos referimos conjuntamente como “Términos 
          del Servicio” o “Términos”). Si no acepta estos Términos, no tendrá derecho a acceder o utilizar 
          nuestro Servicio. Si se registra o utiliza nuestro Servicio de otro modo, se considerará que acepta 
          los Términos y acuerda ser una de las partes de este contrato vinculante. 
        <br><br>
          Al usar el Servicio, usted reconoce, acepta y está de acuerdo con todas las disposiciones de la 
          Política de Privacidad, incluyendo, sin limitación, el uso y tratamiento del texto, las imágenes y 
          otros datos que decida introducir, cargar o guardar en eCont (denominado colectivamente, 
          "Contenido") y su información personal, de acuerdo con esta Política de Privacidad.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn3 text-white mt-4" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>