
    <div class="d-md-none" style="height: 6em;"></div>
    <!-- CONTENIDO -->
    <div class="container">
            <div class="row">
                <div class="col-md-1 col-xs-0"></div>
                <div class="col-md-10 col-xs-12 fondo-contenedor shadow-sm" style="height: auto;">
      
                <div class="row h-100" style="padding: 0.08em;">
                  <div class="col-md-4 px-0 h-100 overflow-hidden d-none d-md-block" style="border-top-left-radius: 3px; border-bottom-left-radius: 3px;">
                    
                        <img class="position-absolute h-100" src="img/nav2.jpg" />
                        
                         <div class="text-up w-100 h-100 bg-translucent-charcoal">
                            <p class="fs-2 text-center bg-translucent-charcoal2 text-freesia pt-5 pb-3">Centro de Atención</p>
                            <div class="nav flex-column nav-pills mx-3 mb-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link fs-s-2 text-white <% if (pagina == 5) { %> active <% } %> " id="" href="notificaciones">Notificaciones</a>
                                <a class="nav-link fs-s-2 text-white <% if (pagina == 6) { %> active <% } %> " id="" href="pedidos">Mis Pedidos</a>
                                <a class="nav-link fs-s-2 text-white <% if (pagina == 7) { %> active <% } %>" id=""  href="gestion">Gestión de Documentos</a>
                            </div>
                         </div>
                  </div>
                  <div class="col-md-8" id="vista">
                        <div class="my-5 mx-3" style="height: auto;">
                            <p class="h4 text-center text-uppercase title-weight2">Gestion de Documentos</p>
                        
                                <div class="row">
                                    <div class="col-md-12 mt-4">
                                        <ul class="nav nav-tabs">
                                                <li class="nav-item">
                                                        <a class="nav-link fs-s-1 active" data-toggle="tab" href="#" onclick="ToggleView(2); return false;">Subir Archivos</a>
                                                </li>
                                                <li class="nav-item">
                                                        <a class="nav-link fs-s-1" data-toggle="tab" href="#" onclick="ToggleView(1); return false;">Descargar Archivos</a>
                                                </li>
                                          </ul>
                                    </div>

                        
                                    <!-- Form 1 -->
                                    <div class="" id="form1">
                                    <form class="w-auto mx-3 mt-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                    <div class="w-100">
                                                            <label class="h6 fs-s-1 text-capitalize">Número de Pedido</label>
                                                            <select class="browser-default custom-select text-general">
                                                                <option value="" selected>Seleccione</option>
                                                                <option value="2">#13456 - Declaración de Renta</option>
                                                                <option value="2">#53423 - Estados Financieros</option>
                                                            </select>
                                                        </div>
                                            </div>
                                            <div class="col-md-6">
                                                    <div class="w-100">
                                                            <label class="h6 fs-s-1 text-capitalize">Archivo</label>
                                                            <div class="input-group text-general">
                                                                <div class="custom-file">
                                                                    <input type="file" class="custom-file-input" id="inputGroupFile01" data-buttonText="Examinar" accept=".zip, .rar" aria-describedby="inputGroupFileAddon01">
                                                                    <label class="custom-file-label overflow-hidden" for="inputGroupFile01"></label>
                                                                </div>
                                                            </div>
                                                            </div>
                                            </div>
                                            <div class="col my-4">
                                                <!-- Mensaje -->
                                                <label class="h6 fs-s-1 text-capitalize">Mensaje</label>
                                                <div class="form-group text-general">
                                                    <textarea class="form-control rounded" id="exampleFormControlTextarea2" rows="3"></textarea>
                                                </div>
                                            </div>
                                            <div class="w-100"></div>
                                            
                                            <div class="col-md-12">
                                                <div class="text-center">
                                                    <a class="btn3 text-white" href="#" data-toggle="modal" data-target="#Modalsub" onclick="">Subir</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                        
                                <!-- Form 2 -->
                                <div class="d-none w-100 mx-3" id="form2">
                                        <div class=" w-100 mt-4 ">
                                            <label class="h6 fs-s-1 text-capitalize">Pedidos</label>
                        
                                                <div class="d-flex flex-column border border-light bg-general text-general rounded font-weight-normal" style="height: 200px; width: 100%; overflow-y: auto;">
                               
                                                <div class="list-group list-group-flush" id="myList" role="tablist">
                                                    <a class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light" data-toggle="list" onclick="" href="#" role="tab">
                                                            <div class="d-flex w-100 justify-content-between">
                                                                    <h5 class="mb-0 fs-1">Declaración de Renta</h5>
                                                                    <small class="fs-s-1">21/3/2019</small>
                                                            </div>
                                                    </a>
                                                    <a class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light" data-toggle="list" onclick="" href="#" role="tab">
                                                            <div class="d-flex w-100 justify-content-between">
                                                                    <h5 class="mb-0 fs-1">Estados Financieros</h5>
                                                                    <small class="fs-s-1">23/3/2019</small>
                                                            </div>
                                                    </a>
                                                    <a class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light" data-toggle="list" onclick="" href="#" role="tab">
                                                            <div class="d-flex w-100 justify-content-between">
                                                                    <h5 class="mb-0 fs-1">Registros Contables</h5>
                                                                    <small class="fs-s-1">24/3/2019</small>
                                                            </div>
                                                    </a>
                                            </div>

                                                </div>
                        
                                                <div class="d-none  flex-column">
                                                    <!-- Mensaje -->
                                                    <div class="form-group mt-4">
                                                        <label class="h6 fs-1 text-capitalize">Detalles del Pedido</label>
                                                        <textarea class="form-control font-weight-normal rounded text-general" id="exampleFormControlTextarea2" rows="3" >Lorem ipsum dolor sit amet consectetur adipiscing elit phasellus sociis, nulla natoque arcu donec faucibus tellus malesuada ut.       
                                                        </textarea>
                                                    </div>
                                                </div>
                                            <div class="col-md-12">
                                                <div class="text-center">
                                                    <a class="btn3 text-white mt-5" href="#" data-toggle="modal" data-target="#Modaldesc" onclick="">Descargar</a>
                                                </div>
                                            </div>
                                         </div>
                                        </div>
                                </div>
                        </div>    
                  </div>
                  </div>
                </div>
                <div class="col-md-1 col-xs-0"></div>
          </div>
      </div>
       
        <!-- Modal subida -->
        <div class="modal fade" id="Modalsub" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title fs-1 text-capitalize" id="exampleModalLongTitle">Gestion de documentos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <p class="">Archivos subidos.</p>
                </div>
            </div>
            </div>
        </div>

        <!-- Modal descarga -->
        <div class="modal fade" id="Modaldesc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title fs-1 text-capitalize" id="exampleModalLongTitle">Gestion de documentos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <p class="">Archivos descargados.</p>
                    </div>
                </div>
                </div>
        </div>