<!--Main Navigation-->
<header>
  <div>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-charcoal shadow-none px-5" >
          
        <!--Logo-->
        <a class="navbar-brand navlogo" ><img src="img/econt-logo.png"  height="35" alt="eCont" ></a>
      
        <!--Menú para pantallas pequeñas-->
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse menu-font" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto nav-hover">
                <!-- Botón de Regreso a tienda -->
                <li class="nav-item"><a class="nav-link text-uppercase rounded" href="/">Volver a la tienda</a></li>
          </ul>
        </div>
      
      </nav>
  </div>
  <div class="d-md-none" style="height: 20px;"></div>
</header>
<!--Main Navigation-->