<!--Main Navigation-->
<header>
    <div style="padding:15px;">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark headercolor shadow-none" style="margin: 20px;">
            
          <!--Logo-->
          <a class="navbar-brand navlogo d-none" href="/"><img src="img/econt-logo.png"  height="35" alt="eCont" ></a>
    
          <!--Menpú para pantallas pequeñas-->
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse menu-font" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto nav-hover">
    
                  <!-- Botón de cuenta -->
                    <li class="nav-item dropdown">
                      <% if (locals.nombre) { %><a class="nav-link dropdown-toggle text-uppercase rounded mr-2 <% if (pagina == 2 || pagina == 3 || pagina == 4) { %> active <% } %>" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false"><%= nombre %></a>
                      <% }
                        else { %> 
                          <a class="nav-link dropdown-toggle text-uppercase rounded mr-2 <% if (pagina == 2 || pagina == 3 || pagina == 4) { %> active <% } %>" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Cuenta</a>
                      <% } %> 
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <% if (locals.nombre) { %><a class="dropdown-item" href="cuenta">Mi Cuenta</a> <% } %>
                            <% if (!locals.nombre) { %><a class="dropdown-item" href="sesion" id="#iniciar">Inicio de Sesión</a> <% } %>
                            <% if (!locals.nombre) { %><a class="dropdown-item" href="registro" id="#registrar">Registro</a> <% } %>
                            <% if (locals.nombre) { %><a class="dropdown-item" href="cerrar" id="#salir">Salir</a><% } %>
                        </div>
                    </li>
    
                    <!-- Botón de Mis pedidos -->
                    <% if (locals.nombre) { %>
                      <% if(true){ %>
                      <li id="ipedidos" class="nav-item"><a class="nav-link text-uppercase rounded mr-2 <% if (pagina == 6) { %> active <% } %>" href="pedidos">Mis Pedidos</a></li>
                      <% } %>
                    <% } %>

                    <!-- Botón centro de atención -->
                    <% if (locals.nombre) { %>
                    <li id="icentro" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-uppercase rounded mr-2 <% if (pagina == 5 || pagina == 7) { %> active <% } %>" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">Centro de Atención</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="notificaciones">Notificaciones</a>
                          <a class="dropdown-item" href="pedidos">Mis Pedidos</a>
                          <a class="dropdown-item" href="gestion">Gestion de documentos</a>
                        </div>
                    </li>
                    <% } %>
    
                    <!-- Botón de contacto -->
                    <li class="nav-item"><a class="nav-link text-uppercase rounded <% if (pagina == 8) { %> active <% } %>" href="contacto">Contacto</a></li>
                 </ul>
          </div>
        </nav>
      
        <!-- Imagen de Fondo -->
        <div class="view intro-2 rounded" >
          <div class="imagecut">
              <div class="overlayed"></div>
              <img src="img/header2.jpg" style="height: auto; width: 116%; object-fit: fill;">
              
              <div class="carousel-caption mt-4 row" style="top: 0;">
                <div class="col align-self-center">
                    <h1 class="montserrat-bold"><a class="text-link" href="/">eCont</a></h1>
                    <p class="fonth text-uppercase">Contabilidad en línea</p>
                </div>
              </div>
          </div>
        </div>
    
    </div>
    <div class="d-md-none" style="height: 20px;"></div>
      </header>
      <!--Main Navigation-->