
<div class="page-container content-wrap mb-5">
    
    <!-- CONTENIDO -->
    <div class="container" id="cont">
      <div class="row carousel-carts">
  
        <!-- CAROUSEL DE SERVICIOS -->
          <div class="owl-carousel owl-theme col-md-12 mt-3">

                <div class="item">
                        <div class="card booking-card shadow-sm" style="margin-bottom: 20px;">
                                <div class="view overlay">
                                    <div class="carousel-caption">
                                        <h4 class="text-capitalize  fs-2">Registros contables</h4>
                                    </div>
                                    <div class="overlayed-w rounded"><a href="servicio?servid=1"><div class=" mask rgba-black-strong rounded"></div></a></div>
                                  <img class="card-img-top h-100" src="img/serv1.jpg" alt="">
                                </div>
                                <div class="card-body">
                                    <p class="card-text fl-3">Informes sobre el movimiento contable del ente económico con el objetivo de proporcionar información financiera del mismo.</p>
                                    <p class="text-freesia font-weight-bold" style="font-size: 1.2em;">B/. 100.00</p>
                                  </div>
                        </div>
                </div>

                <div class="item">
                    <div class="card booking-card shadow-sm" style="margin-bottom: 20px;">
                            <div class="view overlay">
                                <div class="carousel-caption ">
                                    <h4 class="text-capitalize fs-2">Estados Financieros</h4>
                                </div>
                                <div class="overlayed-w rounded"><a href="servicio?servid=2"><div class=" mask rgba-black-strong rounded"></div></a></div>
                              <img class="card-img-top h-100" src="img/serv2.jpg"  alt="">
                            </div>
                            <div class="card-body">
                                <p class="card-text fl-3">Balance General, Estado de resultados, Estado de evolución de patrimonio neto, Estado de flujo de efectivo, Memoria, Informe de información no financiera.</p>
                                <p class="text-freesia font-weight-bold" style="font-size: 1.2em;">B/. 100.00</p>
                              </div>
                    </div>
                </div>

                <div class="item">
                    <div class="card booking-card shadow-sm" style="margin-bottom: 20px;">
                            <div class="view overlay">
                                <div class="carousel-caption">
                                    <h4 class="text-capitalize fs-2">Declaración de Renta</h4>
                                </div>
                                <div class="overlayed-w rounded"><a href="servicio?servid=3"><div class=" mask rgba-black-strong rounded"></div></a></div>
                              
                              <img class="card-img-top h-100" src="img/serv3.jpg" alt="">
                              
                            </div>
                            <div class="card-body">
                                <p class="card-text fl-3">Declaración de una persona natural o sociedad, sobre todos los ingresos y gastos originados en Panamá para obtener las ganancias que tributan el impuesto sobre la renta.</p>
                                <p class="text-freesia font-weight-bold" style="font-size: 1.2em;">B/. 100.00</p>
                              </div>
                    </div>
                </div>

                <div class="item">
                    <div class="card booking-card shadow-sm" style="margin-bottom: 20px;">
                            <div class="view overlay">
                                <div class="carousel-caption">
                                    <h4 class="text-capitalize fs-2">Declaración Municipal</h4>
                                </div>
                                <div class="overlayed-w rounded"><a href="servicio?servid=4"><div class=" mask rgba-black-strong rounded"></div></a></div>
                              <img class="card-img-top h-100" src="img/serv4.jpg" alt="">
                            </div>
                            <div class="card-body">
                                <p class="card-text fl-3">Declaración jurada anual de ingresos brutos en el municipio donde la persona o sociedad esté registrada.</p>
                                <p class="text-freesia font-weight-bold" style="font-size: 1.2em;">B/. 100.00</p>
                              </div>
                    </div>
                </div>

                <div class="item">
                  <div class="card booking-card shadow-sm" style="margin-bottom: 20px;">
                          <div class="view overlay">
                              <div class="carousel-caption">
                                  <h4 class="text-capitalize fs-2">ITBMS</h4>
                              </div>
                              <div class="overlayed-w rounded"><a href="servicio?servid=5"><div class=" mask rgba-black-strong rounded"></div></a></div>
                            <img class="card-img-top h-100" src="img/serv5.jpg" alt="">
                          </div>
                          <div class="card-body">
                              <p class="card-text fl-3">Determinar si su empresa es contribuyente del ITBMS, los productos gravados, su base impositiva y el precio final de oferta.</p>
                              <p class="text-freesia font-weight-bold" style="font-size: 1.2em;">B/. 100.00</p>
                            </div>
                  </div>
              </div>

              <div class="item">
                <div class="card booking-card shadow-sm" style="margin-bottom: 20px;">
                        <div class="view overlay">
                            <div class="carousel-caption">
                                <h4 class="text-capitalize fs-2">Conciliaciones bancarias</h4>
                            </div>
                            <div class="overlayed-w rounded"><a href="servicio?servid=6"><div class=" mask rgba-black-strong rounded"></div></a></div>
                          <img class="card-img-top h-100" src="img/serv6.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <p class="card-text fl-3">Proceso para ajustar valores económicos que una persona o empresa tiene registrados sobre una cuenta, con sus movimientos bancarios, así como clasificar el libro auxiliar de contabilidad para confrontarlo con el extracto.</p>
                            <p class="text-freesia font-weight-bold" style="font-size: 1.2em;">B/. 100.00</p>
                          </div>
                </div>
            </div>
                
            <div class="item">
              <div class="card booking-card shadow-sm" style="margin-bottom: 20px;">
                      <div class="view overlay">
                          <div class="carousel-caption">
                              <h4 class="text-capitalize fs-2">Informes especiales</h4>
                          </div>
                          <div class="overlayed-w rounded"><a href="servicio?servid=7"><div class=" mask rgba-black-strong rounded"></div></a></div>
                        <img class="card-img-top h-100" src="img/serv7.jpg" alt="">
                      </div>
                      <div class="card-body">
                          <p class="card-text fl-3">Informes personalizados para accionistas, acreedores, récords personales y otros propósitos.</p>
                          <p class="text-freesia font-weight-bold" style="font-size: 1.2em;">B/. 100.00</p>
                        </div>
              </div>
          </div>

          <div class="item">
            <div class="card booking-card shadow-sm" style="margin-bottom: 20px;">
                    <div class="view overlay">
                        <div class="carousel-caption">
                            <h4 class="text-capitalize fs-2">Servicio de nómina</h4>
                        </div>
                        <div class="overlayed-w rounded"><a href="servicio?servid=8"><div class=" mask rgba-black-strong rounded"></div></a></div>
                      <img class="card-img-top h-100" src="img/serv8.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <p class="card-text fl-3">Administración de los registros financieros de los sueldos de los empleados.</p>
                        <p class="text-freesia font-weight-bold" style="font-size: 1.2em;">B/. 100.00</p>
                      </div>
            </div>
        </div>

        <div class="item">
          <div class="card booking-card shadow-sm" style="margin-bottom: 20px;">
                  <div class="view overlay">
                      <div class="carousel-caption">
                          <h4 class="text-capitalize fs-2">Entrenamiento empresarial</h4>
                      </div>
                      <div class="overlayed-w rounded"><a href="servicio?servid=9"><div class=" mask rgba-black-strong rounded"></div></a></div>
                    <img class="card-img-top h-100" src="img/serv9.jpg" alt="">
                  </div>
                  <div class="card-body">
                      <p class="card-text fl-3">Capacitaciones al personal sobre temas financieros variados.</p>
                      <p class="text-freesia font-weight-bold" style="font-size: 1.2em;">B/. 100.00</p>
                    </div>
          </div>
      </div>

            </div>
      </div>
  
      <!-- PANEL ACERCA DE ECONT -->
      <div class="view d-none d-md-block rounded shadow-sm mt-4" style="z-index: 100;" data-aos="fade-up" 
      data-aos-anchor-placement="center-center">
          <div style="height: 200px; overflow: hidden;">
              <div class="overlayed"></div>
            <img src="img/us.jpg" alt="" style="width: 100%;">
              <div class="carousel-caption">
                <h2 class="text-left text-uppercase fs-3">Sobre Nosotros</h2>
                <p class="text-justify">Somos una empresa dedicada a unir a contadores de gran experiencia con clientes y empresas que requieran de sus servicios, mediante una plataforma segura donde pueden intercambiar documentos y realizar pagos de forma digital.</p>
              </div>
          </div>
      </div>
  
      <!-- CARTAS DE REGISTRO DE USUARIO -->
      <div class="row mt-5">
          <div class="col-md-6" data-aos="fade-down" data-aos-anchor-placement="center-center">
                <div class="card booking-card shadow-sm">
                        <div class="view">
                          <div class="carousel-caption">
                              <h4 class="text-uppercase  title-weight">Empresas</h4>
                          </div>
                          <div class="overlayed-w rounded"></div>
                            <img class="card-img-top" src="img/company.jpg" alt="">
                            
                        </div>
                        <div class="card-body">
                            <p class="card-text text-justify">Ofrecemos servicios de contabilidad, gestión de trámites y capacitación para ayudar a su empresa a lograr su mayor potencial.</p>
                       </div>
                </div>
          </div>
          <div class="d-md-none m-2"></div>
          <div class="col-md-6" data-aos="fade-down" data-aos-anchor-placement="center-center">
                <div class="card booking-card shadow-sm">
                        <div class="view">
                            <div class="carousel-caption">
                                <h4 class="text-uppercase  title-weight">Contadores</h4>
                            </div>
                            <div class="overlayed-w rounded"></div>
                            <img class="card-img-top" src="img/accountant.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <p class="card-text text-justify">Contamos con un equipo de profesionales idóneos preparados para asistirle en sus trámites contables personales y empresariales.</p>
                        </div>
                </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="text-center">
                  <a class="btn4 text-white mt-5" href="registro">Registrarme</a>
              </div>
          </div>
      </div>
    </div>
  </div>
    

  
  
    