
<div class="d-md-none" style="height: 6em;"></div>
<!-- CONTENIDO -->
<div class="container">
        <div class="row ">
                <div class="col-md-1 col-xs-0"></div>
                <div class="col-md-10 col-xs-12 fondo-contenedor shadow-sm" style="height: auto;">
                        <div class="row h-100" style="padding: 0.08em;">
                                <div class="col-md-4 px-0 h-100 overflow-hidden d-none d-md-block" style="border-top-left-radius: 3px; border-bottom-left-radius: 3px;">                                
                                        <img class="position-absolute h-100" src="img/nav2.jpg" />
                                        <div class="text-up w-100 h-100 bg-translucent-charcoal">
                                                <p class="fs-2 text-center bg-translucent-charcoal2 text-freesia pt-5 pb-3">Centro de Atención</p>
                                                <div class="nav flex-column nav-pills mx-3 mb-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                        <a class="nav-link fs-s-2 text-white <% if (pagina == 5) { %> active <% } %> " id="" href="notificaciones">Notificaciones</a>
                                                        <a class="nav-link fs-s-2 text-white <% if (pagina == 6) { %> active <% } %> " id="" href="pedidos">Mis Pedidos</a>
                                                        <a class="nav-link fs-s-2 text-white <% if (pagina == 7) { %> active <% } %>" id=""  href="gestion">Gestión de Documentos</a>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-8" id="vista">
                                        <div class="my-5 mx-3">
                                                <p class="h4 text-center text-uppercase title-weight2">Notificaciones</p>
                                                <p class="mt-4 fs-1 mb-1"><small>Seleccione una notificación</small></p>
                                                <div class="d-flex flex-column border border-light rounded" style="height: 20em; overflow-y: auto;">
                                                        <div class="list-group list-group-flush" id="myList" role="tablist">
                                                                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-light" data-toggle="list" onclick="Notif(1); return false;" href="#" role="tab">
                                                                        <h5 class="mb-0 fs-1">Declaración de Renta aprobada</h5> 
                                                                <span id="bdg1" class="badge badge-light badge-pill shadow-none">N</span>
                                                                </a>
                                                                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-light" data-toggle="list" onclick="Notif(2); return false;" href="#" role="tab">
                                                                        <h5 class="mb-0 fs-1">Estados Financieros iniciados</h5>
                                                                <span id="bdg2" class="badge badge-light badge-pill shadow-none">N</span>
                                                                </a>
                                                                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-light" data-toggle="list" onclick="Notif(3); return false;" href="#" role="tab">
                                                                        <h5 class="mb-0 fs-1">Registros Contables listos</h5>
                                                                <span id="bdg2" class="badge badge-light badge-pill shadow-none"></span>
                                                                </a>
                                                        </div>
                                                </div>
                                                <div class="d-none" id="detalles">
                                                        <div class="d-flex flex-column">
                                                                <div class="d-flex flex-row">
                                                                        <p class=" text-center h5 my-3">Detalles</p>
                                                                </div>
                                                                <div class="d-flex flex-row border border-light rounded px-4 py-2">
                                                                        <p id="det"> </p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="col-md-1 col-xs-0"></div>
        </div>
</div>
 