
<div class="d-md-none" style="height: 6em;"></div>
<!-- CONTENIDO -->
<div class="container">
        <div class="row ">
            <div class="col-md-1 col-xs-0"></div>
            <div class="col-md-10 col-xs-12 fondo-contenedor shadow-sm" style="height: auto;">
  
            <div class="row h-100" style="padding: 0.08em;">
              <div class="col-md-4 px-0 h-100 overflow-hidden d-none d-md-block" style="border-top-left-radius: 3px; border-bottom-left-radius: 3px;">
                
                    <img class="position-absolute h-100" src="img/nav2.jpg" />
                    <div class="text-up w-100 h-100 bg-translucent-charcoal">
                                <p class="fs-2 text-center  bg-translucent-charcoal2 text-freesia pt-5 pb-3">Centro de Atención</p>
                                <div class="nav flex-column nav-pills mx-3 mb-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link fs-s-2 text-white <% if (pagina == 5) { %> active <% } %> " id="" href="notificaciones">Notificaciones</a>
                                    <a class="nav-link fs-s-2 text-white <% if (pagina == 6) { %> active <% } %> " id="" href="pedidos">Mis Pedidos</a>
                                    <a class="nav-link fs-s-2 text-white <% if (pagina == 7) { %> active <% } %>" id=""  href="gestion">Gestión de Documentos</a>
                                </div>
                             </div>
              </div>
              <div class="col-md-8" id="vista">
                    <div class="my-5 mx-3">
                        <p class="h4 text-center text-uppercase title-weight2 mb-2">Mis Pedidos</p>
                        <p class="mt-4 fs-1 mb-1"><small>Seleccione un pedido</small></p>
                        <div class="d-flex flex-column border border-light rounded" style="height: 300px; overflow-y: auto;">
                                <div class="list-group list-group-flush" id="myList" role="tablist">
                                        <a class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light" data-toggle="list" onclick="Pedid(1); return false;" href="#" role="tab">
                                                <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-0 fs-1">Declaración de Renta</h5>
                                                        <small class="fs-s-1">21/3/2019</small>
                                                </div>
                                                <small class="fs-s-1">En espera</small>
                                        </a>
                                        <a class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light" data-toggle="list" onclick="Pedid(2); return false;" href="#" role="tab">
                                                <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-0 fs-1">Estados Financieros</h5>
                                                        <small class="fs-s-1">23/3/2019</small>
                                                </div>
                                                <small class="fs-s-1">Iniciado</small>
                                        </a>
                                        <a class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light" data-toggle="list" onclick="Pedid(3); return false;" href="#" role="tab">
                                                <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-0 fs-1">Registros Contables</h5>
                                                        <small class="fs-s-1">24/3/2019</small>
                                                </div>
                                                <small class="fs-s-1">Terminado</small>
                                        </a>
                                </div>
                        </div>
                            
                            <div class="d-none" id="detalles">
                                <div class="d-flex flex-column">
                                        <div class="d-flex flex-row">
                                                <p class=" text-center h5 my-3">Detalles del Pedido</p>
                                        </div>
                                        <div class="d-flex flex-row border border-light rounded px-4 py-2">
                                                <div class="row">
                                                        <div class="col-md-auto font-weight-normal">Número de Pedido:</div>
                                                        <div id="nuped" class="col">###</div>
                                                        <div class="col-md-auto font-weight-normal">Estado del Pedido:</div>
                                                        <div id="faped" class="col-md-auto">En espera</div>
                    
                                                        <div class="w-100"></div>
                                                        <div class="col-md-auto font-weight-normal">Monto del Pedido:</div>
                                                        <div id="moped" class="col">$$$</div>
                                                        <div class="col-md-auto font-weight-normal">Estado de la Cuenta:</div>
                                                        <div id="nstped" class="col-md-auto">No Pagado</div>
                    
                                                        <div class="w-100"></div>
                                                        <div class="col-md-auto font-weight-normal">Servicio Solicitado:</div>
                                                        <div id="nomped" class="col">Servicio X</div>
                                                        
                                                        <div class="w-100"></div>
                                                        <div class="col-md-auto font-weight-normal">Contador Encargado:</div>
                                                        <div id="ncont" class="col">Contador x</div>
                    
                                                             <div id="btnpago" class="col-md-12 text-center">
                                                                   
                                                                   <!--Este boton de Paypal cobra un monto de 100$ y agrega un impuesto de 0.07-->
                                                                <form class="mt-4 mb-2" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                                                        <input type="hidden" name="cmd" value="_s-xclick">
                                                                        <input type="hidden" name="hosted_button_id" value="H3RDEHREEK7AJ">
                                                                        <button class="btn3" type="submit">Pagar</button>
                                                                        <!--<input type="image" src="https://www.sandbox.paypal.com/es_XC/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">-->
                                                                        <!--<img alt="" border="0" src="https://www.sandbox.paypal.com/es_XC/i/scr/pixel.gif" width="1" height="1">-->
                                                                </form>     
                                                            </div>
                                                        
                                                </div>
                                               
                                        </div>
                                </div>
                            </div>
                        
                        </div>
              </div>
              </div>
            </div>
            <div class="col-md-1 col-xs-0"></div>
      </div>
  </div>
   