<div class="mt-5" style="height: 50vh;">
  <div class="fondo-contenedor2 shadow-sm mx-auto my-auto pb-4" style="height: auto; width: 50vw;">
    <div class="modal-header bg-charcoal2">
      <h5 class="modal-title fs-2 text-capitalize text-white" id="exampleModalLongTitle">Registro exitoso</h5>
      </div>
      <div class="modal-body">
        <p class="fs-2">Felicidades, se ha completado su registro. Ahora puede iniciar sesión.</p>
      </div>
      <div class="text-center w-100">
        <button class="btn3" onclick="location.href='/sesion'">Continuar</button>
      </div>
    
  </div>
</div>