    
<div class="d-md-none" style="height: 6em;"></div>
<!--CONTENT-->
<div class="container">
    <div class="row posicion-contenedor">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-8 col-xs-12 fondo-contenedor shadow-sm" style="height: auto; padding: 0.08em;">
            <div class="row h-100">
                <div class="col-md-4 h-100 overflow-hidden d-none d-md-block">
                    <div class="container-fluid h-100 px-0 ">
                        <img class="position-absolute h-100" src="img/login.jpg" style="border-top-left-radius: 3px; border-bottom-left-radius: 3px;"/>
                        <div class="text-up w-100 h-100 bg-translucent-charcoal">
                            <p id="llbl" class="text-center bg-translucent-charcoal2 pt-5 pb-3 text-freesia fs-2">¿Ya tienes cuenta?</p>
                            <!-- Button -->
                            <div class="text-center" id="lbtn">
                                <a class='btn bg-freesia rounded mt-4 text-dark' href='sesion'>Iniciar Sesión</a>
                            </div>
                            </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="my-5 mx-3" style="height: auto;">
                        <p class="h4 text-center text-uppercase title-weight2">Registro</p>
                        <div class="col-md-12 mt-4">
                            <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                            <a class="nav-link fs-s-1 active" data-toggle="tab" href="#" onclick="ToggleViewReg(1); return false;">Cliente</a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link fs-s-1" data-toggle="tab" href="#" onclick="ToggleViewReg(2); return false;">Contador</a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link fs-s-1" data-toggle="tab" href="#" onclick="ToggleViewReg(3); return false;">Empresa</a>
                                    </li>
                                </ul>
                        </div>
                        <div class="container-fluid mt-4" id="reg_form1">
                            
                            <!-- Registro de CLIENTE (persona natural) -->
                            <form class="" id="formPersonaNatural"> 
                                <div class="form-row mb-2">
                                    <div class="col">
                                        <label class="h6 fs-s-1 text-capitalize">Nombre</label>
                                        <input type="text" id="nombrepn" class="form-control" placeholder="" name="nombreCliente">
                                    </div>
                                    <div class="col">
                                            <label class="h6 fs-s-1 text-capitalize">Apellido</label>
                                        <input type="text" id="apellidopn" class="form-control" placeholder="" name="apellidoCliente">
                                    </div>
                                </div>
                                
                                <label class="h6 fs-s-1 mb-2 text-capitalize">Cédula</label>
                                <input type="text" id="cedulapn" class="form-control mb-2" placeholder="" name="cedulaCliente">

                                <!-- Teléfono -->
                                <label class="h6 fs-s-1 text-capitalize">Teléfono</label>
                                <input type="text" id="telefonopn" class="form-control" placeholder="" aria-describedby="defaultRegisterFormPhoneHelpBlock" name="telefono">
                                <!-- Email -->
                                <label class="h6 fs-s-1 text-capitalize">Email</label>
                                <input type="email" id="emailpn" class="form-control mb-2" placeholder="" name="email">
                                <!-- Contraseña -->
                                <label class="h6 fs-s-1 text-capitalize">Contraseña</label>
                                <input type="password" id="passwordpn" class="form-control" placeholder="" aria-describedby="defaultRegisterFormPasswordHelpBlock" name="contra">
                                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-2 fs-s-1">
                                    Mínimo 8 caracteres y 1 número
                                </small>
                                
                                
                                <div class="text-center">
                                    <!-- Botón de Registro -->
                                    <input class="btn3 mt-4 mb-4" type="submit" value="Registrarme" id="registro"></input>
                                </div>
                                <!-- Terms of service -->
                                <p class="fs-s-1">Al hacer clic en
                                    <em>Registrarme</em> está aceptando nuestros 
                                    <a href="" target="_blank">Términos y Condiciones</a> 
                                </p>
                            </form>
                            <!-- FIN DEL FORM -->
                        </div>


                        <div class="container-fluid d-none mt-4" id="reg_form2">
                            
                            <!-- Registro de CONTADOR -->
                            <form class="" id="FormRegistroContador">
                                <div class="form-row mb-2">
                                    <div class="col">
                                        <label class="h6 fs-s-1 text-capitalize">Nombre</label>
                                        <input type="text" id="nombrec" class="form-control" placeholder="" name="nombreContador">
                                    </div>
                                    <div class="col">
                                        <label class="h6 fs-s-1 text-capitalize">Apellido</label>
                                        <input type="text" id="apellidoc" class="form-control" placeholder="" name="apellidoContador">
                                    </div>
                                </div>
                                <label class="h6 fs-s-1 text-capitalize">Cédula</label>
                                <input type="text" id="cedulac" class="form-control mb-2" placeholder="" aria-describedby="defaultRegisterFormPhoneHelpBlock" name="cedulaContador">
                                
                                <label class="h6 fs-s-1 text-capitalize">Licencia de Idoneidad</label>
                                <input type="text" id="idoneidadc" class="form-control mb-2" placeholder="" aria-describedby="defaultRegisterFormPhoneHelpBlock" name="numLicIdoneidad">
                                
                                <!-- Subject -->
                                <label class="h6 fs-s-1 text-capitalize">Especialidades</label>
                                <p class="fs-s-1" style="margin-bottom: 5px;"><em>Presione Ctrl+click para seleccionar varias opciones.</em></p>
                                <select class="browser-default custom-select mb-2" multiple name="especialidadesc" id="serviciosc">
                                        <option value="" disabled selected>Escoja sus especialidades</option>
                                        <option value="1">Registros contables</option>
                                        <option value="2">Estados financieros</option>
                                        <option value="3">Declaración de renta</option>
                                        <option value="4">Declaración municipal</option>
                                        <option value="5">ITBMS</option>
                                        <option value="6">Conciliación bancaria</option>
                                        <option value="7">Informes especiales</option>
                                        <option value="8">Servicio de nómina</option>
                                </select>
                                
                                <label class="h6 fs-s-1 text-capitalize">CV</label>
                                <div class="custom-file mb-2">
                                    <input type="file" class="custom-file-input" id="cv" name="cv">
                                    <label class="custom-file-label" for="customFileLang"></label>
                                </div>
                                
                                <!-- E-mail -->
                                <label class="h6 fs-s-1 text-capitalize">Email</label>
                                <input type="email" id="emailc" class="form-control mb-2" placeholder="" name="email">

                                <!-- Contraseña -->
                                <label class="h6 fs-s-1 text-capitalize">Contraseña</label>
                                <input type="password" id="passwordc" class="form-control" placeholder="" aria-describedby="defaultRegisterFormPasswordHelpBlock" name="contra">
                                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-2 fs-s-1">
                                    Mínimo 8 caracteres y 1 número
                                </small>
                                <!-- Teléfono -->
                                <label class="h6 fs-s-1 mb-2 text-capitalize">Teléfono</label>
                                <input type="text" id="telefonoc" class="form-control" placeholder="" aria-describedby="defaultRegisterFormPhoneHelpBlock" name="telefono">
                                <div class="text-center">
                                    <!-- Botón de Registro -->
                                    <button class="btn3 mt-4 mb-4" type="submit">Registrarme</button>
                                </div>
                                <!-- Terms of service -->
                                <p class="fs-s-1">Al hacer clic en
                                    <em>Registrarme</em> está aceptando nuestros 
                                    <a href="" target="_blank">Términos y Condiciones</a> 
                                </p>
                            </form>
                            <!-- FIN DEL FORM -->
                        </div>

                        <div class="container-fluid d-none mt-4" id="reg_form3">
                            
                            <!-- Registro de CLIENTE (EMPRESA) -->
                            <form class="" id="FormRegistroJuridico">
                                <div class="form-row mb-2">
                                    <div class="col">
                                        <!-- Nombre de la empresa -->
                                        <label class="h6 fs-s-1 mb-2 text-capitalize">Nombre de la Empresa</label>
                                        <input type="text" id="empresae" class="form-control" placeholder="">
                                    </div>
                                    <div class="col">
                                        <!-- Número de RUC -->
                                        <label class="h6 fs-s-1 mb-2 text-capitalize">No. RUC</label>
                                        <input type="text" id="ruce" class="form-control" placeholder="">
                                    </div>
                                </div>
                                
                                <label class="h6 fs-s-1 text-capitalize">Datos del solicitante</label>
                                <div class="p-3 border rounded mb-2">
                                    <div class="form-row mb-2">
                                        <div class="col-6">
                                            <!-- Primer nombre -->
                                            <label class="h6 fs-s-1 text-capitalize">Nombre</label>
                                            <input type="text" id="nombree" class="form-control" placeholder="">
                                        </div>
                                        <div class="col-6">
                                            <!-- Apellido -->
                                            <label class="h6 fs-s-1 text-capitalize">Apellido</label>
                                            <input type="text" id="apellidoe" class="form-control" placeholder="">
                                        </div>
                                        
                                    
                                    </div>
                                    <label class="h6 fs-s-1 mb-2 text-capitalize">Cédula</label>
                                    <input type="text" id="cedulae" class="form-control mb-2" placeholder="">
                                </div>
                                <!-- E-mail -->
                                <label class="h6 fs-s-1 mb-2 text-capitalize">Email</label>
                                <input type="email" id="emaile" class="form-control mb-2" placeholder="">

                                <!-- Contraseña -->
                                <label class="h6 fs-s-1 mb-2 text-capitalize">Contraseña</label>
                                <input type="password" id="passworde" class="form-control" placeholder="" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-2 fs-s-1">
                                    Mínimo 8 caracteres y 1 número
                                </small>
                                <!-- Teléfono -->
                                <label class="h6 fs-s-1 mb-2 text-capitalize">Teléfono</label>
                                <input type="text" id="telefonoe" class="form-control" placeholder="" aria-describedby="defaultRegisterFormPhoneHelpBlock">
                                <div class="text-center">
                                    <!-- Botón de Registro -->
                                    <button class="btn3 mt-4 mb-4" type="submit">Registrarme</button>
                                </div>
                                <!-- Terms of service -->
                                <p class="fs-s-1">Al hacer clic en
                                    <em>Registrarme</em> está aceptando nuestros 
                                    <a href="" target="_blank">Términos y Condiciones</a> 
                                </p>
                            </form>
                            <!-- FIN DEL FORM -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-0"></div>
    </div>
</div>

<script>
        $(document).ready(()=>{
            console.log("Hola front end!!!!!");
            $("#formPersonaNatural").submit(function(e){
                console.log("Entra Aquí!")
                 e.preventDefault();
                var email = $("#emailpn").val();
                var contra = $("#passwordpn").val();
                var tel = $("#telefonopn").val();
                var cedula = $("#cedulapn").val();
                var nombre = $("#nombrepn").val();
                var apellido = $("#apellidopn").val();
                console.log(email, contra, tel, cedula, nombre,apellido);
                $.ajax({
                    url: "/sendfb",
                    data: {
                        nombre: nombre,
                        apellido: apellido,
                        cedula: cedula,
                        telefono: tel,
                        email: email,
                        contra: contra,
                        tipo: "pn"
                        },
                    method: "POST",
                    dataType: 'json',
                    contentType : "application/x-www-form-urlencoded",

                    success : function(res){
                        window.location.replace("/registroexitoso");
                    },

                    error : function(err){
                        alert(err);
                        window.location.replace("/registroexitoso");

                    }
                });
            });

            $("#FormRegistroContador").submit(function(e){
                console.log("Entra Aquí!")
                 e.preventDefault();
                var email = $("#emailc").val();
                var contra = $("#passwordc").val();
                var tel = $("#telefonoc").val();
                var cedula = $("#cedulac").val();
                var nombre = $("#nombrec").val();
                var apellido = $("#apellidoc").val();
                var idoneidad = $("#idoneidadc").val();
                var servicios = $("#serviciosc").val();
                console.log(servicios);
                 $.ajax({
                     url: "/sendfbc",
                     data: {
                         nombre: nombre,
                         apellido: apellido,
                         cedula: cedula,
                         telefono: tel,
                         email: email,
                         contra: contra,
                         tipo: "con",
                         status: 0,
                         idoneidad: idoneidad,
                         servicios: servicios
                         },
                     method: "POST",
                     dataType: 'json',
                     contentType : "application/x-www-form-urlencoded",

                     success : function(res){
                         window.location.replace("/registroexitoso");
                     },

                     error : function(err){
                         alert(err);
                         window.location.replace("/registroexitoso");

                     }
                 });
            });

            $("#FormRegistroJuridico").submit(function(e){
                console.log("Entra Aquí!")
                 e.preventDefault();
                var email = $("#emaile").val();
                var contra = $("#passworde").val();
                var tel = $("#telefonoe").val();
                var cedula = $("#cedulae").val();
                var nombre = $("#nombree").val();
                var apellido = $("#apellidoe").val();
                var empresa = $("#empresae").val();
                var ruc = $("#ruce").val();
                 $.ajax({
                     url: "/sendfbe",
                     data: {
                         nombre: nombre,
                         apellido: apellido,
                         cedula: cedula,
                         telefono: tel,
                         email: email,
                         contra: contra,
                         tipo: "emp",
                         status: 0,
                         empresa: empresa,
                         ruc: ruc
                         },
                     method: "POST",
                     dataType: 'json',
                     contentType : "application/x-www-form-urlencoded",

                     success : function(res){
                         window.location.replace("/registroexitoso");
                     },

                     error : function(err){
                        alert(err);
                         window.location.replace("/registroexitoso");

                     }
                 });
            });
        });
    </script>