
<div class="d-md-none" style="height: 6em;"></div>
    <!--CONTENT-->
    <div class="container">
      <div class="row">
          <div class="col-md-1 col-xs-0"></div>
          <div class="col-md-10 col-xs-12 fondo-contenedor shadow-sm" style="height: auto; padding: 0.08em;">
            
              <div class="row overflow-hidden">
                  <div class="col-sm-12 col-md-12" style="height: 18em;">
                        <img class="card-img-top" src="<%= image %>" alt="">
                  </div>
              </div>

              <div class="row m-4">
                <div class="col-sm-12 col-md-8">
                    <p class="h4 text-capitalize fs-3 mb-3"><%= nombreS %></p>
                    <p class="text-justify"><%= desc %></p>
                    <p class="h4 text-capitalize fs-1" >Documentos requeridos</p>
                    <ul>
                            <% for (var i = 0; i < docs.length; i++) { %>
                                <li><%= docs[i] %></li>
                        <% } %>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-4">
                   
                        <div class="">
                        <p class="h4 text-capitalize fs-1">Precio</p>
                        <div class="row text-freesia text-center m-0 border border-light rounded">
                                <div class="col-md-12 h6 align-self-center fs-3 mt-3 mb-2">
                                  B/. 100
                                </div>
                                
                                <div class="col-md-12 mb-3">
                                        <% if (locals.nombre) { %>
                                        <a class="btn3 text-white" href="#" onclick="VerCont(); return false;">Contadores</a>
                                        <% } %> 
                                    </div>
                               
                            </div>
                      </div>
                      
                </div>

                <div id="detalles" class="d-none col-md-12">
                    <div class="dropdown-divider my-3"></div>
                    <p class="h4 text-capitalize fs-1">Contadores Disponibles</p>
                    <p class="mt-4 fs-1 mb-1"><small>Seleccione un contador</small></p>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="d-flex flex-column border border-light rounded" style="height: 15.7em; overflow-y: auto;">
                                <div class="list-group list-group-flush" id="myList" role="tablist">
                                    <a class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center list-group-item-light" data-toggle="list" onclick="InfCont(1); return false;" href="#" role="tab">
                                        <h5 class="mb-0 fs-s-2">Julian Camargo</h5></a>
                                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-light" data-toggle="list" onclick="InfCont(2); return false;" href="#" role="tab">
                                            <h5 class="mb-0 fs-s-2">Alexander Gonzalez</h5></a>
                                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-light" data-toggle="list" onclick="InfCont(3); return false;" href="#" role="tab">
                                            <h5 class="mb-0 fs-s-2">Anna María Torres</h5></a>
                                </div>
                            </div>
                        </div>
                        <div id="continf" class=" d-none col-md-6 col-sm-12 ">
                            <div class="border border-light rounded ">
                                <div class="row mx-1 py-3">
                                    <div class="col-md-auto font-weight-normal">Nombre:</div>
                                    <div id="nom" class="col">Maria Cristina</div>

                                    <div class="w-100"></div>
                                    <div class="col-md-auto font-weight-normal">Apellido:</div>
                                    <div id="ape" class="col-md-auto">Torres</div>

                                    <div class="w-100"></div>
                                    <div class="col-md-auto font-weight-normal">Teléfono:</div>
                                    <div id="tel" class="col-md-auto">6543-8900</div>

                                    <div class="w-100"></div>
                                    <div class="col-md-auto font-weight-normal">Email:</div>
                                    <div id="cor" class="col">m_cristina@gmail.com</div>

                                    <div class="w-100"></div>
                                    <div class="col-md-auto font-weight-normal">Licencia de Idoneidad:</div>
                                    <div id="idon" class="col-md-auto">45-3423-4234</div>

                                    <div class="w-100"></div>
                                    <div class="col-md-auto font-weight-normal">Especialidades:</div>
                                    <div id="esp" class="col-md-auto">Planilla,etc,etc...</div>       
                                </div>
                                <div class="row mt-2 mb-4">
                                    <div class="text-center w-100">
                                        <a class="btn3 text-white" href="documentos?servid=<%= id %>">Contratar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

          </div>
          <div class="col-md-1 col-xs-0"></div>
      </div>
    </div>