   
   <div class="d-md-none" style="height: 6em;"></div>
   <!--CONTENT-->
    <div class="container">
      <div class="row posicion-contenedor">
          <div class="col-md-2 col-xs-0"></div>
          <div class="col-md-8 col-xs-12 fondo-contenedor shadow-sm" style="height: auto; padding: 0.08em;">

            <div class="row h-100">
                <div class="col-md-5 h-100 overflow-hidden d-none d-md-block">
                    <div class="container-fluid h-100 px-0">
                        <img class="position-absolute h-100" src="img/login.jpg" style="border-top-left-radius: 3px; border-bottom-left-radius: 3px;"/>
                        <div class="text-up w-100 h-100 bg-translucent-charcoal">
                            <p id="llbl" class="text-center bg-translucent-charcoal2 pt-5 pb-3 text-freesia fs-2" >¿Aún no tienes cuenta?</p>
                            <!-- Button -->
                            <div class="text-center" id="lbtn">
                                <a class='btn bg-freesia rounded mt-4 text-dark' href='registro'>Registrarme</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="my-5 mx-3" style="height: auto;">
                        <p class="h4 text-center text-uppercase title-weight2">Inicio de Sesión</p>
                    <div class="container-fluid mt-4" id="lform">
                        
                        <!-- Inicio de Sesión -->
                        <form id="#form">
                            <!-- Email -->
                            <label class="h6 fs-s-1 text-capitalize">Email</label>
                            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="" name="email">

                            <!-- Contraseña -->
                            <label class="h6 fs-s-1 text-capitalize">Contraseña</label>
                            <input type="password" id="passwd" class="form-control mb-4" placeholder="" name="contra">

                                <div class="d-flex justify-content-around">
                                    <div class="text-left">
                                        <!-- Recordar usuario -->
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                                            <label class="custom-control-label fs-s-1" for="defaultLoginFormRemember">Recordarme</label>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- Contraseña olvidada -->
                                        <a class="fs-s-1" href="">¿Olvidaste la contraseña?</a>
                                    </div>
                                </div>

                            <div class="text-center">
                                <!-- Botón de entrar -->
                                <input class="btn3 mt-4" type="submit" value="Iniciar Sesion" name="submit"></input>
                            </div>
                        </form>
          
                    </div>
                    </div>
                </div>
            </div>

          </div>
        <div class="col-md-2 col-xs-0"></div>
      </div>
    </div>
    
    <script>
        $(document).ready(()=>{
            console.log("Hola front end!!!!!");
            $("form").submit(function(e){
                 e.preventDefault();
                var email = $("#defaultLoginFormEmail").val();
                var contra = $("#passwd").val();
                $.ajax({
                    url: "/iniciar",
                    data: {
                            email : email,
                            contra : contra},
                    method: "POST",
                    dataType: 'json',
                    contentType : "application/x-www-form-urlencoded",
                    success : function(res){
                        //window.alert(res.nombre);
                        console.log("Entro aquí");
                        window.location.replace("/");
                    },
                    error : function(err){
                        alert("Email o contraseña incorrectos, vuelva a intentarlo.");
                    }
                });
            });
        });
    </script>



