<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eCont</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Hoja de estilo personalizada -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Hojas de estilo Owl Carousel -->
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/owl.theme.default.min.css" rel="stylesheet">
    <!-- Hoja de estilo Animate On Scroll -->
    <link href="css/aos.css" rel="stylesheet">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

  </head>

  <body>

    <%- include sections/header_admin %> <!-- se incluye el header -->

    <!-- se incluye el contenido -->
    <% switch(pagina) {
      case 1: %>
          <%- include sections/admin_login %>
      <% break 

      case 2: %>
            <%- include sections/admin_informes %>
      <% break 

      case 3: %>
          <%- include sections/admin_clientes %>
      <% break

      case 4: %>
          <%- include sections/admin_servicios %>
      <% break

      case 5: %>
          <%- include sections/admin_solicitudes %>
      <% break

      default: %>
          <%- include sections/admin_login %>
      <% break  } %>
   

    <%-  %> <!-- se incluye el footer -->

    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- w3.JS -->
    <script type="text/javascript" src="js/w3.js"></script>
    <!-- eCont.js -->
    <script type="text/javascript" src="js/econt.js"></script>
    <!-- Javascript de estilo personalizado -->
    <script type="text/javascript" src="js/style.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Owl corousel -->
    <script type="text/javascript" src="js/owl.carousel.min.js"></script> 
    <!-- Animate On Scroll -->
    <script src="js/aos.js"></script>
    <!-- Anime.js -->
    <script src="js/anime.min.js"></script>


    <!-- SCRIPTS PARA LANZAR FUNCIONES -->
    <script>
        
    anime({
        targets: '.container',
        translateY: 90,
        duration: 2000
        });
    </script>

  </body>

</html>