<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Hoja de estilo personalizada -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Hojas de estilo Owl Carousel -->
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/owl.theme.default.min.css" rel="stylesheet">
    <!-- Hoja de estilo animate on scroll -->
    <link href="css/aos.css" rel="stylesheet">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    
  </head>

  <body>

    <%- include sections/header %> <!-- se incluye el header -->

    <!-- se incluye el contenido dependiendo de la opción del menú -->
    <% switch(pagina) {
      case 1: %>
          <%- include sections/inicio %>
      <% break 

      case 2: %>
          <%- include sections/cuenta %>
      <% break 

      case 3: %>
          <%- include sections/sesion %>
      <% break 

      case 4: %>
          <%- include sections/registro %>
      <% break 

      case 5: %>
          <%- include sections/notificaciones %>
      <% break 

      case 6: %>
          <%- include sections/pedidos %>
      <% break 

      case 7: %>
          <%- include sections/gestion %>
      <% break 

      case 8: %>
          <%- include sections/contacto %>
      <% break 

      case 9: %>
          <%- include sections/servicio %>
      <% break

      case 10: %>
          <%- include sections/documentos %>
      <% break

      case 11: %>
          <%- include sections/registroexitoso %>
      <% break
    
      default: %>
          <%- include sections/inicio %>
      <% break  } %>
   

    <%- include sections/footer %> <!-- se incluye el footer -->

  
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- w3.JS -->
    <script type="text/javascript" src="js/w3.js"></script>
    <!-- eCont.js -->
    <script type="text/javascript" src="js/econt.js"></script>
    <!-- Javascript de estilo personalizado -->
    <script type="text/javascript" src="js/style.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Owl corousel -->
    <script type="text/javascript" src="js/owl.carousel.min.js"></script> 
    <!-- Animate On Scroll -->
    <script src="js/aos.js"></script>
    <!-- Anime.js -->
    <script src="js/anime.min.js"></script>


    <!-- SCRIPTS PARA LANZAR FUNCIONES -->
    <script>
            window.onload = function(){ SetCarousel()};
            window.onscroll = function() {ScrollHeader(), MovewScroll()};

            //deteccion de scroll para animar div
            AOS.init({
                disable: window.innerWidth < 1024
                });

            //animacion de el carousel
            anime({
                targets: '.carousel-carts',
                scale: [0.7, 1],
                delay: 100,
                duration: 300,
                easing: 'linear'
                });

            //animacion del los contenedores del contenido principal
            anime({
                targets: '.fondo-contenedor',
                translateY: -100,
                scale: [0.7, 1],
                direction: 'normal',
                easing: 'linear',
                duration: 200,
                delay: 150
                });

    </script>

  </body>

</html>