html {
  position: relative;
  min-height: 100%;
}
body{
    background-color:#F5F5F5 !important;
    padding: 0px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.bg-freesia{
  background-color: #F6C324;
}

.bg-general{
  background-color:#F5F5F5;
}

.bg-light-gray{
  background-color: rgb(235, 235, 235) !important;
}

.bg-light-gray2{
  background-color: rgb(216, 216, 216) !important;
}

.bg-charcoal{
  background-color: rgb(22,22,22);
}

.bg-charcoal2{
  background-color: rgb(39, 39, 39);
}

.bg-translucent-charcoal{
background: rgba(22, 22, 22, 0.5);
}

.bg-translucent-charcoal2{
  background: rgba(22, 22, 22, 0.7);
  }

.text-freesia{
  color:#F6C324;
}

.text-general{
  color:rgb(114, 114, 114);
}

.text-gray{
  color: rgb(158, 158, 158);
}

.imagecut{
    display:block;
    height: 350px;
    overflow: hidden;
}

.montserrat-bold{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 500%;
}

.text-link{
  text-decoration: none;
  color: white;
}

.text-link2{
  text-decoration: none;
  color: rgb(114, 114, 114);
}

.text-link:hover{
  color: #F6C324;
}

.text-link2:hover{
  color: rgb(114, 114, 114);
}

.fonth{
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 0.2em;
}

.nav-hover>li>a:hover,.nav-hover>li>a.active {
  text-decoration: none;
  background-color: rgba(22, 22, 22, 0.5) !important;
}

.menu-font{
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.title-weight{
  letter-spacing: 0.2em;
  font-size: 1.5em;
}

.title-weight2{
  letter-spacing: 0.2em;
  font-size: 1.2em;
}

.fs-1{
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.1em;
}

.fs-s-1{
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.fs-s-2{
  font-size: 0.9em;
  letter-spacing: 0.1em;
}

.fs-2{
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.fs-3{
  font-size: 1.3em;
  letter-spacing: 0.1em;
}

.fl-3{
  max-height: 3.6em;
  line-height: 1.2em;
  overflow:hidden;
}

.btn-text{
  letter-spacing: 0.2em;
  font-weight: 300;
  font-size: 2em;
}

.fondo-contenedor{
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 3px;
  z-index: 100;
}

.fondo-contenedor2{
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 3px;
  z-index: 100;
}

.vertical-menu a {
  color: white; 
  display: block; 
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 350;
  text-decoration: none; 
}

.vertical-menu a:hover {
  background: rgba(246, 195, 36, 0.7);
  
  color: white;
}

.vertical-menu a.active {
  background-color: #4CAF50; 
  color: white;
}

.text-up {
  z-index: 100;
  position: absolute;
  color: white;
}

.item{
  margin-left: 5px;
  margin-right: 5px;
}

.box-item{
  height: 4rem;
  overflow: hidden;
  background-color: white;
}

.box-item:hover{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.box-item2{
  height: 5.5rem;
  overflow: hidden;
  background-color: white;
}

.box-item2:hover{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn2:link,
.btn2:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative;
  top:0;
  left:0;
  padding:20px 40px;
  display:inline-block;
  transition: all .5s;
}

.btn2:hover{
   box-shadow:0px 1px 5px rgba(0,0,0,0.2);
   transform : translateY(-3px);
}

.btn2::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}

.btn3{
  background-color: #F6C324; 
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

.btn4{
  background-color: #F6C324; 
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}

.btn3:hover, .btn4:hover{
  background-color: rgb(39, 39, 39); 
}

.nav-tabs > li > a.active {
  background-color: rgb(39, 39, 39) !important;
  color: white !important;
}

.nav-tabs > li > .nav-link {
  color: rgb(39, 39, 39) !important;
}

.nav-pills > a.active {
  background-color: #F6C324CC !important;
  color: white !important;
}

.nav-pills > .nav-link {
  color: rgb(39, 39, 39) !important;
}

.bg-translucent-charcoal > .nav-pills > .nav-link {
  color: white !important;
}

.bottom-radius{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.overlayed {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlayed-w {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(61, 61, 61, 0.5);
}


@keyframes comeFromBottom{
  0%{
    opacity:0;
    transform:translateY(40px);
  } 
  100%{
    opacity:1;
    transform:translateY(0);
  }
}


/*
 * Component: Info Box
 * -------------------
 */
 .info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}
.info-box small {
  font-size: 14px;
}
.info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}
.info-box .progress,
.info-box .progress .progress-bar {
  border-radius: 0;
}
.info-box .progress .progress-bar {
  background: #fff;
}
.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
}
.info-box-icon > img {
  max-width: 80%;
}
.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.progress-description,
.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-box-text {
  text-transform: uppercase;
}
.info-box-more {
  display: block;
}
.progress-description {
  margin: 0;
}